{% extends 'main/base.html' %}
{% load static i18n %}
{% block  title %}{% trans "Solution" %}{% endblock %}
{% block body %}
	<div class="container" style="margin-top: 90px;">
		<h3>{% trans "Solution" %}</h3>		
		<br>
		<ul>
			<li>{% trans "Providing digital interface to the students, initially, and later on to the rest of the people to have basic knowledge" %}</li>
			<li>{% trans "Providing farmers easier techniques of crop enhancement" %}</li>
			<li>{% trans "Helping Farmers to transer the money online for loan repayment" %}</li>
			<li>{% trans "Providing an user friendly interface to interact" %}</li>
			<li>{% trans "Providing an option to post their issues and complaints which will be given a solution by us" %}</li>
		</ul>
	</div>
{% endblock %}